/* App.css */
.refer-page-container {
  padding: 20px;
}

.refer-form {
  margin-bottom: 20px;
}

/* Center the form */
.row.justify-content-center {
  display: flex;
  justify-content: center;
}

/* Adjust the size of the SVG and make it responsive */
.illustration-svg {
  max-width: 100%;
  height: auto;
  width: 80%; /* Adjust as needed */
  margin-left: 20px; /* Add some margin between the form and the SVG */
}

@media (max-width: 768px) {
  /* Adjust SVG size for smaller screens */
  .illustration-svg {
    width: 60%; /* Adjust as needed for smaller screens */
    margin-left: 0; /* Remove margin for smaller screens */
    margin-top: 20px; /* Add margin to separate from the form */
  }
}
